.tilting-image {
  background-image: url('../images/houses-1.jpg');
}

.team-info {
  margin-top: 1rem;
}

.team-image {
  width: 50%;
  height: 400px;
  float: left;
  margin-right: -100%;
  background-image: url('https://via.placeholder.com/1000x400');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.team-image:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 14px rgb(0 0 0 / 5%);
}

.team-image:hover + .team-text{
  box-shadow: none;
}

.team-text {
  width: 60%;
  padding: 48px;
  float: right;
  margin-top: 70px;
  z-index: 0;
  box-shadow: 0 0 14px rgb(0 0 0 / 5%);
}

@media all and (max-width: 768px) {
  #our-story p {
    width: 100%;
  }

  .team-image {
    width: 100%;
    margin-right: 0;
    float: unset;
  }

  .team-text {
    width: calc(100% - 96px);
    margin: -48px auto 0 auto;
    float: unset;
  }
}

@media all and (max-width: 575px) {
  .team-image {
    height: 200px;
  }

  .team-text {
    padding: 24px;
    width: 100%;
    margin-top: 24px;
  }
}