.tilting-image {
  background-image: url('../images/yard-3.jpg');
}

.contact-box i {
  font-size: 36px;
  color: var(--green);
}

.contact-box a {
  line-height: 28px;
}

.contact-box h3 {
  margin-top: 36px;
  text-transform: uppercase;
}

#map iframe {
  height: 500px;
  margin-bottom: -3px;
  border: 0;
}

@media all and (max-width: 768px) {
  .col-md-4:not(:last-child) .contact-box {
    margin-bottom: 48px;
  }
}