:root {
  --green: #00673c;
  --dark-green: #1b5232;
  --mineral-green: #436063;
  --light-gray: #d1d7d5;
  --gray: #7c7c7c;
  --beige: #f1efe2;
  --snow: #f4f4f4;
  --black: #1b1b1b;
  --yellow: #fbbc04;
}

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Butler.otf') format('opentype'),
    url('../fonts/Butler.ttf') format('truetype'),
    url('../fonts/Butler.woff') format('woff'),
    url('../fonts/Butler.svg') format('svg');
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--green); 
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--dark-green); 
}


/* links */
a {
  text-decoration: none;
  color: var(--black);
}

.underlined-link {
  color: var(--green);
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  width: fit-content;
  transition: 0.3s;
}

.underlined-link.white {
  color: white;
}

.underlined-link.white:hover {
  color: var(--beige);
}

.underlined-link:hover {
  color: var(--dark-green)
}

.underlined-link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  color: var(--black);
}

h1, h2,
.subheading {
  font-family: 'Butler', serif;
  font-weight: 500;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 16px;
  line-height: 32px;
}

.section-heading {
  margin-bottom: 96px;
}

.section-heading.less-mb {
  margin-bottom: 48px;
}

.section-heading h2 {
  margin-bottom: 0;
}

.subheading {
  font-size: 32px;
}

.subheading-2 {
  color: var(--dark-green);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 24px;
}

.subheading-2.left-dash::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 2px;
  margin-right: 20px;
  background-color: var(--dark-green);
}

.small-text {
  font-size: 14px;
  color: var(--gray);
  line-height: 24px;
}

/* buttons */
.btn {
	display: inline-block;
	padding: 16px 48px;
	text-transform: uppercase;
  text-align: center;
  transition: 0.3s ease-out;
  border-width: 1px;
  border-style: solid;
}

.btn-white {
	color: var(--dark-green);
  background: linear-gradient(to left, white 50%, var(--dark-green) 50%) right;
  background-size: 200%;
}

.btn-white:hover {
	color: white;
  background-position: left;
}

.btn-green {
  color: white;
  background: linear-gradient(to left, var(--dark-green) 50%, white 50%) right;
  background-size: 200%;
  border-color: white;
}

.btn-green:hover {
  color: var(--dark-green);
  background-position: left;
  border-color: var(--dark-green);
}

.btn-white-transparent {
  color: white;
  background: transparent;
	border-color: white;
}

.btn-white-transparent:hover {
  background: white;
	color: var(--dark-green);
}

.btn-green-transparent {
  color: var(--dark-green);
  background: linear-gradient(to left, transparent 50%, var(--dark-green) 50%) right;
	border-color: var(--dark-green);
  background-size: 200%;
}

.btn-green-transparent:hover {
  background-position: left;
	color: white;
}

/* other */
section:not(#hero, .small-section) {
  padding: 140px 0;
}

.small-section {
  padding: 70px 0;
}

.blurred {
	filter: blur(4px);
}

.green-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green);
  z-index: 2;
  transition: 0.3s;
}

.parallax {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.read-more-container {
  text-align: right;
  margin-top: 48px;
}

/* loader */
#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#loading img {
  width: 400px;
  height: auto;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid white;
  padding: 12px 0;
  z-index: 2;
  background-color: transparent;
  transition: 0.3s;
}

header.hidden {
  top: -78px;
}

header.sticky {
  top: 0;
  background-color: white;
  box-shadow: 0 3px 14px rgb(0 0 0 / 4%);
}

nav > .row {
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: flex;
  justify-content: center;
  background: transparent;
}

.menu-left,
.menu-center,
.menu-right {
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.logo {
  transition: opacity ease-in 0.3s;
  width: 50px;
  height: 50px;
}

.logo:hover {
  opacity: 0.8;
}

.menu-center .logo {
  margin: 0 60px;
}

.menu-center a::after,
.menu-logo a::after,
.menu-logo {
  display: none;
}

.menu-left {
  justify-content: flex-end;
}

.nav-item {
  margin: 0 36px;
}

.nav-item:first-child {
  margin: 0 36px 0 0;
}

.nav-item:last-child {
  margin: 0 0 0 36px;
}

.nav-item a {
  color: white;
  font-family: 'Butler', serif;
}

.nav-item a::after {
  content: '';
  background: white;
  width: 0;
  height: 0.7px;
  display: block;
  transition: 0.2s;
}

.nav-item a:hover::after, 
.nav-item.active a::after {
  width: 100%;
}

header.sticky .nav-item a {
  color: var(--black);
}

header.sticky .nav-item a::after {
  background-color: var(--black);
}

#menu-icon {
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
  float: right;
  cursor: pointer;
}

#menu-icon::before,
#menu-icon::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  transition: 0.3s;
  transform-origin: 50%;
}

#menu-icon::before {
  top: calc(50% - 6px);
}

#menu-icon::after {
  bottom: calc(50% - 6px);
}

#menu-icon.active::before {
  top: 50%;
  -moz-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

#menu-icon.active::after {
  bottom: 50%;
  -moz-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

/* footer */
footer {
  background-color: var(--black);
  padding: 24px 0;
}

footer .row {
  align-items: center;
}

footer p {
  text-align: center;
  color: var(--light-gray);
  margin: 0;
}

.disclaimer {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid var(--gray);
}

footer i {
  color: var(--light-gray);
  transition: 0.3s;
}

footer i:hover {
  color: white;
}

.social-media {
  text-align: right;
}

.social-media a:first-child {
  margin-right: 16px;
}

/* media queries */
@media screen and (max-width: 1200px) {
  h2 {
    font-size: 36px;
  }

  .section-heading {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 991px) {
  .menu-center img {
    margin: 0 54px;
  }

  .nav-item {
    margin: 0 14px;
  }

  .nav-item:first-child {
    margin: 0 14px 0 0;
  }

  .nav-item:last-child {
    margin: 0 0 0 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .menu-logo + .col-6 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  section:not(#hero, .small-section) {
    padding: 90px 0;
  }

  .small-section {
    padding: 45px 0;
  }

  .section-heading.less-mb {
    margin-bottom: 36px;
  }

  header {
    background-color: white;
    border-bottom: 1px solid var(--light-gray);
  }

  .menu-logo,
  #toggler,
  #menu-icon {
    display: block;
  }

  #menu-icon::before,
  #menu-icon::after {
    background-color: var(--black);
  }

  #menu {
    position: fixed;
    top: 78px;
    width: 50%;
    right: 0;
    height: calc(100vh - 151px);
    padding: 36px 28px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 1px solid #f9f9f9;
    background: white;
  }

  #menu.hidden {
    margin-right: -100%;
  }

  .menu-center {
    display: none;
  }

  .menu-right,
  .menu-left {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav-item,
  .nav-item:first-child,
  .nav-item:last-child {
    margin: 0 16px 20px;
  }

  .nav-item a {
    color: var(--black);
    font-size: 18px;
  }

  .nav-item a::after {
    background-color: var(--black);
  }

  footer .logo {
    display: block;
    margin: 0 auto;
  }

  .social-media {
    text-align: center;
    margin: 18px 0;
  }
}

@media screen and (max-width: 575px) {
  .section-heading {
    margin-bottom: 64px;
  }

  .read-more-container {
    margin-top: 36px;
  }
}