.tilting-image {
  background-image: url('../images/yard-2.jpg');
}

/* accomodation section */
#accomodation .row {
  align-items: center;
}

#accomodation p:first-child {
  margin-top: 0;
}

#accomodation iframe {
  margin-top: 48px;
  height: 400px;
}

/* menu section */
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
} 

#nav-tabs {
  display: flex;
  width: fit-content;
  justify-content: center;
}

.nav-tab span {
  margin: 0 18px;
  padding: 6px 18px;
  color: var(--green);
  border: 1px solid var(--green);
  cursor: pointer;
  transition: 0.3s;
}

.nav-tab:hover span,
.nav-tab.active span {
  background-color: var(--green);
  color: var(--beige);
}

.nav-tab i {
  font-size: 16px;
  margin-right: 4px;
  vertical-align: 1px;
}

#tabs {
  margin-top: 4rem;
}

.meals-list {
  margin-top: 0;
  margin-bottom: 0;
}

.meal {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.meal:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-gray);
}

.meal-img {
  margin-right: 18px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.meal .small-text {
  margin: 0;
}

.meal-name {
  font-weight: 600;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 6px;
}

/* activities section */
.activity-box {
  box-shadow: 0 0 14px rgb(0 0 0 / 2%);
  transition: 0.3s;
}

.activity-box:hover {
  box-shadow: 0 0 14px rgb(0 0 0 / 5%);
}

.activity-box img {
  width: 100%;
}

.activity-text {
  padding: 48px;
}

.activity-text h3 {
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 0;
}

.activity-text p {
  margin-bottom: 0;
}

@media all and (max-width: 991px) {
  .meal:last-child:not(.no-border) {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--light-gray);
  }

  #tabs {
    margin-top: 2rem;
  }

  .activity-box {
    margin-bottom: 24px;
  }
}

@media all and (max-width: 575px) {
  #accomodation iframe {
    margin-top: 24px;
  }

  #nav-tabs {
    flex-direction: column;
    align-items: center;
  }

  #nav-tabs li span {
    display: block;
    margin: 0;
  }

  #nav-tabs li:not(:last-child) {
    margin-bottom: 18px;
  }

  .activity-text {
    padding: 36px;
  }
}